@font-face {
    font-family: 'plain-light';
    src: url(./Font/plain-light-webfont.ttf);
}

@font-face {
    font-family: 'plain-regular';
    src: url(./Font/plain-regular-webfont.ttf);
}

@font-face {
    font-family: 'silk-italic';
    src: url(./Font/silkserif-lightitalic-webfont.ttf);
}

@font-face {
    font-family: 'silk-regular';
    src: url(./Font/silkserif-regularitalic-webfont.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: plain-regular;
}


html,
body {
    height: 100%;
    width: 100%;
}

.crsr {
    height: 2.5vw;
    width: 2.5vw;
    border-radius: 50%;
    border: 1.5px solid #ffffffbe;
    position: fixed;
    mix-blend-mode: difference;
    transform: translate(-50%, -50%);
    z-index: 999;
}

#loader {
    height: 100%;
    width: 100%;
    background-color: #030303;
    z-index: 999;
    position: fixed;
    padding: 25vh 10vw;
}

.line {
    /* background-color: red; */
    height: fit-content;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 3vw;
}

.line h1 {
    font-size: 6.5vw;
    text-transform: uppercase;
    font-weight: 500;
}

.line h2 {
    font-size: 4.5vw;
    text-transform: uppercase;
    font-weight: 900;
    opacity: 0;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

@keyframes anime {
    0% {
        font-family: plain-regular;
        -webkit-text-stroke: 1px #fff;
        color: #fff;
        font-weight: 500;
        opacity: 1;
    }

    48% {
        font-family: plain-regular;
        -webkit-text-stroke: 1px #fff;
        color: #fff;
        font-weight: 500;
        opacity: 0;
    }

    50% {
        font-family: silk-regular;
        -webkit-text-stroke: 1px #fff;
        font-weight: 500;
        color: transparent;
        opacity: 1;
    }

    100% {
        font-family: silk-regular;
        -webkit-text-stroke: 1px #fff;
        font-weight: 500;
        color: transparent;
        opacity: 0;
    }
}

#line-part1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vw;
}

#line-part1 h5 {
    width: 5vw;
    text-align: right;
}

#line-part1 h5,
#line-part1 h6 {
    font-size: 3vw;
    font-weight: 100;
    font-family: silk-regular;
}


#main {
    position: relative;
    background-color: #030303;
}

#page1 {
    height: 100vh;
    width: 100%;
    background-color: #151515;
}

#nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.5vw 5.5vw;
}

#nav-part2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5vw;
}

#nav-part2 h4 {
    font-size: 1.1vw;
    font-weight: 500;
}

.hero {
    height: fit-content;
    width: 73%;
    margin-left: 27%;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.hero:nth-child(2) {
    margin-top: 17vh;
}

.hero h1 {
    font-size: 7.5vw;
    font-weight: 500;
    line-height: 7.5vw;
    text-transform: uppercase;
}

.hero h2 {
    font-size: 7.5vw;
    font-weight: 500;
    line-height: 7.5vw;
    text-transform: uppercase;
    border-bottom: 5px solid #fff;
    /* transition: all ease 0.3s; */
    /* padding-bottom: 0.5vw; */
}

.hero h2:hover {
    -webkit-text-stroke: 2px #fff;
    font-weight: 500;
    color: transparent;
    border-bottom: 5px solid transparent;
}

#page2 {
    height: 100vh;
    width: 100%;
    background-color: #151515;
    padding-top: 17vh;
    position: relative;
}

.video-container {
    height: 66vh;
    width: 71vw;
    position: relative;
    left: 29%;
    background-image: url(./assets/asset\ 1.jpeg);
}

.video-crsr {
    height: 10vw;
    width: 10vw;
    border-radius: 50%;
    background-color: #FEA63C;
    position: absolute;
    top: -13%;
    left: 65%;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.video-crsr i {
    font-size: 2.5vw;
}

.video-container img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    top: 0;
}

.video-container video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#page3 {
    min-height: 100vh;
    width: 100%;
    background-color: black;
    position: relative;
}

#page4 {
    min-height: 100vh;
    width: 100%;
    background-color: #151515;
    position: relative;
    padding-top: 7vh 0;
}

.page4-content {
    width: 72vw;
    margin-left: 28%;
}

.page4-content h1 {
    font-size: 7vw;
    text-transform: uppercase;
}

.page4-content .underline {
    height: 1px;
    width: 100%;
    background-color: #fff;
    margin: 5vw 0 3vw 0;
}

.page4-content>p {
    font-size: 2.1vw;
    width: 50%;
    margin-bottom: 3vw;
}

.page4-flex {
    display: flex;
}

.page4-flex img {
    width: 48%;
}

.page4-flex>p {
    font-size: 1.1vw;
    line-height: 1.5vw;
    width: 28%;
    margin-left: 2vw;
}

.page4-blue {
    background-color: #3F7DF4;
    width: 33vw;
    padding: 4vw 3vw;
    position: relative;
    margin-top: -29vh;
    margin-left: 24.5vw;
}

.blue-text {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1.7vw 0;
    border-bottom: 1.5px solid #fff;
}

.blue-text h4 {
    font-size: 1.7vw;
    font-weight: 500;
}

.blue-text>p {
    width: 35%;
    font-size: 1vw;
    font-weight: 500;
}

#page4 h5 {
    font-size: 1.2vw;
    font-weight: 500;
}

#page5 {
    min-height: 100vh;
    width: 100%;
    padding: 5vw 0;
}